// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Variablen, Mixins etc.
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

$schwarz: rgb(0,0,0);
$weiss: rgb(240,240,240);
$grau: rgb(180,180,180);

$tiny: 25em;
$small: 35em;
$intermed: 45em;
$medium: 55em;
$large: 65em;
$big: 80em;

$headline-font: sans-serif;
$copy-font: $headline-font;


*, *:before, *:after {
    box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Imports
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

@import "normalize";

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Struktur
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

body {

}